<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<header>
		<nav class="menu">
			<div class="nav-wrapper deep-purple darken-2">
				<a href="/" class="brand-logo"><h5>e-singleDev</h5></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/cadastroEvento"
						class="waves-effect waves-light btn purple darken-4 pulse"><i
							class="material-icons left">add_circle_outline</i>Cadastrar
							evento</a></li>
				</ul>
			</div>
		</nav>

	</header>
	<div class='container'>
		<h3>Lista de Eventos</h3>
		<table class="striped ">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horario</th>
				</tr>
			</thead>
			<tbody>

				<!-- Para cada eventos sera criado a estrutura abaixo -->
				<tr th:each="evento: ${eventos}">
					<td><a
						th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}"><span
							th:text="${evento.nome}"></span></a></td>
					<td><span th:text="${evento.local}"></span></td>
					<td><span th:text="${evento.data}"></span></td>
					<td><span th:text="${evento.Horario}"></span></td>
					<td><a
						class="waves-effect waves-light btn btn-small pulse red"
						th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.codigo)).build()}">
							<i class="material-icons left">delete</i>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>